<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="/css/table_style.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar(#{label.form.list.h1})"></div>
<div th:replace="fragments/user-table :: userTable(
        ${users},
        '/admin/update/{id}',
        '/admin/delete/{id}'
)">
</div>

<!--<div class="container">-->
<!--  <h1>Employee Directory</h1>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th th:text="#{label.form.list.table.id}">id</th>-->
<!--      <th th:text="#{label.form.list.table.firstname}">Vorname</th>-->
<!--      <th th:text="#{label.form.list.table.lastname}">Nachname</th>-->
<!--      <th th:text="#{label.form.list.table.username}">Username</th>-->
<!--      <th th:text="#{label.form.list.table.email}">Email</th>-->
<!--      <th th:text="#{label.form.list.table.action}">Email</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="user : ${users}">-->
<!--      <td th:text="${user.id}">ID</td>-->
<!--      <td th:text="${user.firstname}">Vorname</td>-->
<!--      <td th:text="${user.lastname}">Nachname</td>-->
<!--      <td th:text="${user.username}">Username</td>-->
<!--      <td th:text="${user.email}">Email</td>-->
<!--      &lt;!&ndash; Delete button only visible for ADMIN &ndash;&gt;-->
<!--      <td sec:authorize="hasRole('ADMIN')">-->
<!--        <a th:href="@{/users/update/{id}(id=${user.id})}" th:text="#{label.form.list.link.edit}">Edit</a>-->
<!--        <a th:href="@{/users/delete/{id}(id=${user.id})}"th:text="#{label.form.list.link.delete}">Delete</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!---->
<!--  <div class="form-group">-->
<!--    <a href="/index" th:text="#{label.form.list.backLink}">Back!</a>-->
<!--  </div>-->
<!--</div>-->
</body>
</html>
