body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

:root {
    --button-background-color: #007bff;
    --error-color: red;
}

.red-button {
    padding: 8px 14px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form {
    background-color: white;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#error-field{
    background-color: var(--error-color);
}

label {
    width: 100px;
    font-size: 16px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[readonly] {
    background-color: #f5f5f5;
    color: #555;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active {
    background-color: #004494;
}

input[type="submit"]:disabled {
     background-color: #555;
}

h1 {
    text-align: center;
}
