<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.form.login.title}">Title</title>
    <link rel="stylesheet" href="/css/base_style.css">
</head>
<body>
    <h1 th:text="#{label.form.login.h1}">Login</h1>
    <form action="/req/login" method="post">
        <div class="form-group" th:if="${param.error}">
            <label for="error-field" th:text="#{label.form.login.error}">error text</label>
            <input name="error" id="error-field" type="text" th:value="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" readonly>
        </div>
        <div class="form-group">
            <label for="username" th:text="#{label.form.login.username}">username</label>
            <input name="username" id="username" type="text" required>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{label.form.login.password}">password</label>
            <input name="password" type="password" id="password" required>
        </div>
        <div class="form-group">
            <p><a href="#TODO#">Forget Password ?</a></p>
        </div>
        <div class="form-group">
            <input type="submit" th:value="#{label.form.login.submit}" />
        </div>
        <div>
            <label th:text="#{label.form.login.noAccount}"></label>
            <a th:text="#{label.form.login.registerLink}"  href="/register"> Register new!!</a>
        </div>
    </form>
</body>
  